@model Brand

@{
    ViewData["Title"] = " | Brand";
}

<h1>Brand</h1>

<table class="table table-bordered table-sm">
    <thead>
        <tr class="thead-dark">
            <th>@Model.FullName</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @foreach (var ba in Model.ProductBrands)
                {
                    <p>
                        <a asp-action="Details" asp-controller="Product"
                       asp-route-id="@ba.ProductId"
                       asp-route-slug="@ba.Product.Name.Slug()">
                            @ba.Product.Name
                        </a>
                    </p>
                }
            </td>
        </tr>
    </tbody>
</table>